
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/powerpoints/*.zip
/storage/app/powerpoints/extracted/*
/storage/app/powerpoints/phpPres/*
/storage/app/powerpoints/pptHashed/*
/storage/app/powerpoints/templates/*
/vendor
/.idea
/.vagrant
.env.example
.composer.json.swp
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env